body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px;
    position: relative;
    float: right;
}

li {
    display: inline-block;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

header img {
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
}

header h1 {
    color: white;
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
}

header a {
    color: white;
    display: contents;
}

#description {
    background-color: gray;
    padding-left: 5%;
    padding-right: 5%;
}

.description img {
    position: static;
    float: left;
    width: 30%;
    height: 30%;
}

.description-p2 {
    clear: both;
    padding-bottom: 20px;
}

#relationship {
    padding-left: 5%;
    padding-right: 5%;
}

.relationship img {
    position: static;
    float: right;
    width: 30%;
    height: 30%;
}

footer {
    clear: both;
    background-color: gray;
    text-align: center;
    padding: 20px;
    display: block;
}